/* Example to remove default background and border */
.react-flow__node {
  background: none !important; /* Use !important if needed to override inline styles */
  border: none !important;
  padding: 0; /* Remove default padding */
  min-width: unset; /* Remove default minimum width */
  min-height: unset; /* Remove default minimum height */
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove default box shadow */
}
.react-flow__node.selectable:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.react-flow__node.selectable:focus:active {
  box-shadow: none !important;
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
  border-color: none !important;
}

.react-flow__node.selectable.selected {
  border-color: none !important;
  box-shadow: none !important;
}

/* Example to style a specific default node type */
.react-flow__node-default {
  /* Your custom styles for default nodes */
}
